$primary-mix-color: #ffffff;
$primary-base-color: rgb(220, 220, 220);
$deep-dark-color: rgb(21, 21, 21);

$palette_50:  mix($primary-base-color, $primary-mix-color, 12%);
$palette_100: mix($primary-base-color, $primary-mix-color, 30%);
$palette_200: mix($primary-base-color, $primary-mix-color, 50%);
$palette_300: mix($primary-base-color, $primary-mix-color, 70%);
$palette_400: mix($primary-base-color, $primary-mix-color, 84%);

$palette_500: $primary-base-color;

$palette_600: mix($primary-base-color, $deep-dark-color, 87%);
$palette_700: mix($primary-base-color, $deep-dark-color, 70%);
$palette_750: mix($primary-base-color, $deep-dark-color, 50%);
$palette_800: mix($primary-base-color, $deep-dark-color, 32%);
$palette_850: mix($primary-base-color, $deep-dark-color, 12%);

$palette_900: $deep-dark-color;

.palette {
  display: flex;
}

.color-50 {
  background-color: $palette_50;
  width: 64px;
  height: 64px;
  color: $deep-dark-color;
}
.color-100 {
  background-color: $palette_100;
  width: 64px;
  height: 64px;
  color: $deep-dark-color;
}
.color-200 {
  background-color: $palette_200;
  width: 64px;
  height: 64px;
  color: $deep-dark-color;
}
.color-300 {
  background-color: $palette_300;
  width: 64px;
  height: 64px;
  color: $deep-dark-color;
}
.color-400 {
  background-color: $palette_400;
  width: 64px;
  height: 64px;
  color: $deep-dark-color;
}
.color-500 {
  background-color: $palette_500;
  width: 64px;
  height: 64px;
  color: $deep-dark-color;
}
.color-600 {
  background-color: $palette_600;
  width: 64px;
  height: 64px;
  color: $primary-base-color;
}
.color-700 {
  background-color: $palette_700;
  width: 64px;
  height: 64px;
  color: $primary-base-color;
}
.color-750 {
  background-color: $palette_750;
  width: 64px;
  height: 64px;
  color: $primary-base-color;
}
.color-800 {
  background-color: $palette_800;
  width: 64px;
  height: 64px;
  color: $primary-base-color;
}
.color-850 {
  background-color: $palette_850;
  width: 64px;
  height: 64px;
  color: $primary-base-color;
}
.color-900 {
  background-color: $palette_900;
  width: 64px;
  height: 64px;
  color: $primary-base-color;
}
