.palette {
  display: flex; }

.color-50 {
  background-color: #fbfbfb;
  width: 64px;
  height: 64px;
  color: #151515; }

.color-100 {
  background-color: whitesmoke;
  width: 64px;
  height: 64px;
  color: #151515; }

.color-200 {
  background-color: #eeeeee;
  width: 64px;
  height: 64px;
  color: #151515; }

.color-300 {
  background-color: #e7e7e7;
  width: 64px;
  height: 64px;
  color: #151515; }

.color-400 {
  background-color: #e2e2e2;
  width: 64px;
  height: 64px;
  color: #151515; }

.color-500 {
  background-color: gainsboro;
  width: 64px;
  height: 64px;
  color: #151515; }

.color-600 {
  background-color: #c2c2c2;
  width: 64px;
  height: 64px;
  color: gainsboro; }

.color-700 {
  background-color: #a0a0a0;
  width: 64px;
  height: 64px;
  color: gainsboro; }

.color-750 {
  background-color: #797979;
  width: 64px;
  height: 64px;
  color: gainsboro; }

.color-800 {
  background-color: #555555;
  width: 64px;
  height: 64px;
  color: gainsboro; }

.color-850 {
  background-color: #2d2d2d;
  width: 64px;
  height: 64px;
  color: gainsboro; }

.color-900 {
  background-color: #151515;
  width: 64px;
  height: 64px;
  color: gainsboro; }

/*# sourceMappingURL=palette.css.map */
